/* create.css */

.color {
  background: linear-gradient(to right, #654ea3, #eaafc8); /* Gradient background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
}

.form {
  padding: 20px;
}

.form span {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.form hr {
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}
