@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
h2,h4{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: bold;
}
.marquee-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
body {
  /* background: brown;  */
  background-image: url(images/Onlinebank.avif);
  background-size: cover; 
  background-position: center center;
  
  background-repeat: no-repeat;
}
.marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
